@using ProjectG.ClientService.Infrastructure.BasketApi.DTO
@model CustomerDetailedModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Customer.FirstName @Model.Customer.Surname</h5>
                    <p class="card-text">Email: @Model.Customer.Email</p>
                    <p class="card-text">Address: @Model.Customer.Address</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            @if (Model.Basket.Any())
            {
                <div class="text-center">
                    <h4 class="display-4">Basket</h4>
                </div>
                @foreach (BasketPositionModel basketPosition in Model.Basket)
                 {
                     <div class="card">
                         <div class="card-body">
                             <h5 class="card-title">ProductId: @basketPosition.ProductId</h5>
                             <p class="card-text">Quantity: @basketPosition.Quantity</p>
                             <p class="card-text">Price: @basketPosition.Price</p>
                         </div>
                     </div>
                 }
            }
        </div>
    </div>
</div>