@using ProjectG.ClientService.Infrastructure.BasketApi.DTO
@model CustomerDetailedModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Customer.FirstName @Model.Customer.Surname</h5>
                    <p class="card-text">Email: @Model.Customer.Email</p>
                    <p class="card-text">Address: @Model.Customer.Address</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="text-center">
                <h4 class="display-4">Basket</h4>
            </div>

            <form class="form-inline" asp-route-id="@Model.Customer.Id" asp-action="Generate" asp-controller="Basket" asp-area="Customer" method="post">
                <label class="sr-only" for="count">Count: </label>
                <input type="number" name="count" class="form-control mb-2 mr-sm-2" id="count">
                <button type="submit" class="btn btn-primary mb-2">Generate basket positions</button>
            </form>

            <form class="form-inline" asp-route-id="@Model.Customer.Id" asp-action="Create" asp-controller="Order" asp-area="Customer" method="post">
                <button type="submit" class="btn btn-primary mb-2">Place an order</button>
            </form>

            @foreach (BasketPositionModel basketPosition in Model.Basket)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@basketPosition.ProductName</h5>
                        <p class="card-text">Quantity: @basketPosition.Quantity</p>
                        <p class="card-text">Price: @basketPosition.Price</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>