@model IEnumerable<ProductModel>

<div class="text-center">
    <h4 class="display-4">Products List</h4>
</div>

<form class="form-inline" asp-action="Generate" asp-controller="Home" asp-area="Product" method="post">
    <label class="sr-only" for="count">Count: </label>
    <input type="number" name="count" class="form-control mb-2 mr-sm-2" id="count">
    <button type="submit" class="btn btn-primary mb-2">Generate</button>
</form>

<div class="container-fluid">
    <div class="row justify-content-around">
        @foreach (ProductModel product in this.Model)
        {
            <div class="col-5 card" style="margin-top: 5px; margin-bottom: 5px;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Count: @product.Count</p>
                    <p class="card-text">Price: @product.Price</p>

                    <a asp-route-id="@product.Id" asp-action="View" asp-controller="Home" asp-area="Product" class="btn btn-primary">View</a>
                </div>
            </div>
        }
    </div>
</div>